<h2>{{recipe.name}}</h2>

<p>Cook Time: {{recipe.cookTime}}</p>
<p>Servings: {{recipe.servingSize}}</p>

<!-- {{#each recipe.ingredients as |ingredient index|}}
<p>{{recipe.ingredient}}</p>
{{/each}} -->

<p>Instructions: {{recipe.instructions}}</p>
