<h1>Edit Comment</h1>
<%= form_for @comment do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.submit %>
<% end %>

<%= form_for [@comment], method: :delete do |f| %>
  <%= f.submit "Delete Comment", class: "delete" %>
<% end %>
